* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


.cv {

    position: absolute;
    transform: translate(-5%, 220%);
    margin: 0;
    padding: 0;
    color: rgb(252, 0, 76);
    font-family: sans-serif;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-size: 6rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.188rem;



    /*
    font-size: 72px;
    background: -webkit-linear-gradient(180deg, rgb(0, 38, 255), rgb(252, 0, 76));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -3px;
    */
}


.icons {
    position: relative;
    top: 22rem;
    left: -20rem;
    color: blueviolet !important;
}



.body {
    /**background-image: url(../imagenes/tecnologia.png);*/
    background-color: #000;
    /**font-family: 'IBM Plex Sans', sans-serif;*/
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
}


.player {
    background: radial-gradient(circle at 40px 40px, rgb(252, 0, 76),rgb(68, 0, 20));
    width: 3.125rem;
    height: 3.125rem;
    top: 15%;
    left: 45%;
    margin-top: -0.371rem;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    transition: all ease-in-out 0.3s, border-radius ease-in-out 1s;
    z-index: 1000;
    animation: bounce 0.6s infinite;
}

@keyframes bounce {
    10%{
        height: 3.125rem;
        width: 3.125rem;
    }
    50%{
        height: 1.875rem;
        width: 3.563rem;
        transform: translateY(3.125rem);
    }
}

.sombra {

}

.full {
    top: 0 !important;
    left: 0 !important;
    animation: none !important;
    background: rgba(152, 184, 221, 0.30);
    border-width: 0 ;
    width: 100% ;
    height: 100% ;
    border-radius: 0 ;
    margin: 0;
    backdrop-filter: blur(10px);
}

.pointer {
    background-color: #444;
    height: 30px;
    margin-top: 30px;
    border-bottom: 0px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;

}

.content {
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    
}

.content.show {
    opacity: 1;
    animation: none;
    
}
/**estilos titulo presentacion*/

.perspective-text {
    color: #340a4de3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
}

p {
    margin: 0;
    
    line-height: 50px;
    transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.677); 
}

.perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.333); 
}

.perspective-text:hover p{
    transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
    left: 29px;
}

.perspective-line:nth-child(2) {
    left: 58px;
}

.perspective-line:nth-child(3) {
    left: 87px;
}

.perspective-line:nth-child(4) {
    left: 116px;
}

.perspective-line:nth-child(5) {
    left: 145px;
}

/**
.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FBC800;
    font-size: 3rem;
    line-height: 0.9;
    font-weight: normal;
    overflow: hidden;
}
*/
.heading > div {
    font-weight: bold;
    font-size: 88px;
    letter-spacing: -2px;
}

.container-content {
    display: none;
    color: white;
    font-size: x-large;


}

.container-content.show {
    display: block;    
}

.informacion {
    width: 100rem;
    height: 60rem;

}

.parrafo {
    
    text-align: center;
    margin: 10rem;
    border-style: solid;
    border-color: rgb(252, 0, 76);
    border-radius: 25px;
    
    align-self: center;

}



/** boton back*/

.atras{
    
    position: relative; 
    left: center;
    display: block;
    width: 5rem;
    height: 2rem;
    line-height:center;
    text-align:center;
    text-transform:uppercase;
    background-color:transparent;
    cursor:pointer;
    text-decoration:none;
    font-family:Roboto,sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing:.045em;
    stroke: #EC0033; 
    stroke-width: 4;
    stroke-dasharray: 353,0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    background: #ff8282; 
    background: -moz-linear-gradient(left,black 0,black 100%);
    background: -webkit-linear-gradient(left,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);
    background: linear-gradient(to right,rgba(255,130,130,1) 0,rgba(225,120,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

}


/* efecto girar letras */

ul {
    width: 300px;
    height: 35px;
    float: right;
    list-style: none;
    padding: 4px;
    margin: 0;

    
    animation: cambiar 3s infinite;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    10%{margin-top: 0;}

    15%{margin-top: -35px;}
    40%{margin-top: -45px;}

    45%{margin-top: -50px;}
    60%{margin-top: -60px;}

    75%{margin-top: -70px;}
    99%{margin-top: -100px;}

    100%{margin-top: -0;}

}


/** 
maquina de escribir 

.parrafo {
    float: left;
    position: relative;
    
}

span {
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000; 
    background: #98B8DD;


    animation: maquina 3.2s infinite alternate steps(70);
}

@keyframes maquina {
    from {
        width: 100%;
    } to {
        width: 0;
    }
}
*/


/*****************************  REGALOS // CARTAS  ******************/

.Regalos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 20;
}

.Regalos .card {
    position: relative;
    width: 200px;
    height: 350px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.Regalos .card .contenido {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.Regalos .card:hover .contenido {
    transform: translateY(0px);
    opacity: 1;
}

.Regalos .card .contenido h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.Regalos .card .contenido h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 20;
}

.Regalos .card .contenido p {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}

.Regalos .card .contenido a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-attachment: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



/********************ingreso de Usuario // llamada atencion *******************************/


.form-register {
    width: 500px;
    background: #24303c;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h2 {
    font-size: 22px;
    margin-bottom: 10px;

}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(252, 0, 76);
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a:hover {
    color: rgb(252, 0, 76);
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: rgb(252, 0, 76);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

.botons {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
}
.botons:hover {
    background: #a94567;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}



.text {
    width: 100%;
    height: 10rem;
    background: #24303c;
    border: 1px solid rgb(252, 0, 76);
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/** estilos de la ola */

.custom-shape-divider-bottom-1615297648 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615297648 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 246px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615297648 .shape-fill {
    fill: #412850;
}


/** MEDIAS QUERY PARA RESPONSIVE**/

@media (max-width: 500px) {
    .cv {
        transform: translate(-2%, 140%);
        font-size: 4rem;
        margin: 1rem;
    }
    .player {
        top: 5rem;
        left: 12rem;
    }
    .icons {
        top: 22rem;
        left: -8rem;
    }
    .perspective-text {
        font-size: 2.2rem;
        width: 450px;
        height: 30px;
        position: relative;
        left: 2rem;
        top: -15rem;

    }
    /*
    .heading {
        font-size: 2rem;
        width: 450px;
        height: 30px;
        position: relative;
        left: 3rem;
        
    }
    */
    .informacion {
        font-size: 2rem;
        width: 100%;
        height: 20rem;

    }
    .Regalos .card {
        position: relative;
        width: 140px;
        height: 300px;
        margin: 5px;
        overflow: none;
        font-size: 1rem;
    }
    .form-register {
        width: 250px;
        padding: 15px;
        margin-top: 5px;
    }
    .controls {
        width: 15rem;
    }
    .text {
        width: 14.6rem;
    }
    
    
    
}     



  
